<html>
    <head>
        <title>HOTS-Welcome</title>
        <link rel="stylesheet" href="../static/intro.css">
    </head>
    <body>
        <div>
            <a href="/intro">
                <div class = "logo2">
                    <img src="../static/logo.jpg" alt="logo">
                </div>
                <div class = "redes">
                    <img src="../static/social.png" alt="redes">
                </div>    
            </a>
        </div>
    </body>
</html>
        

               