<html>
    <head>
        <title>HBSIS</title>
        <link rel="stylesheet" href="../static/pg1.css">
    </head>
    <body>
        <div class= 'cabecalho'>
            <a href="/"></a>
                <div class= 'logo'>
                    <img src="../static/logo.png" alt="logo">
                </div>
                <div class= 'redes'>
                    <img src="../static/Sem título.png" alt="redes_sociais">
                </div>
                <ul>
                    <!-- o a href serve para criar link -->
                    <li>ipa</li>
                    <li>weiss</li>
                    <li>pilsen</li>
                </ul>
                <!--<ol> 
                    <li>ipa</li>
                    <li>weiss</li>
                    <li>pilsen</li>-->
                    <!-- {%conteudo%} para abrir um codigo do python-->
                </ol>
            </a>
        </div>
    </body>  
</html>